.promo-page{
	padding-top: 0px;
	padding-bottom: 30px;
}
.promo-page .block-other-promo{
	text-align: center;
}
.promo-page .block-other-promo img{
	width: 100%;
	border-radius: 4px;
}
.promo-page .title-dtl-promo {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.promo-page .other-promo-block{
	margin-bottom: 20px;
}
.promo-page .other-promo-block:hover .ttl-other-promo{
	color: #ff6f43;
}
.promo-page .block-other-promo a{
	text-decoration: none;
}
.promo-page .ttl-other-promo{
	text-align: left;
	margin-top: 8px;
	overflow: hidden;
	color: #555555;
	font-weight: 500;
	word-wrap: break-word;
	line-height: 1.8rem;
	height: 3.5rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 14px;
	transition: 0.2s;
}
.promo-page .dtl-ttl-block{
	background: #f9fdff;
	padding: 10px 15px;
	border: 1px dashed #e6e6e6;
	border-top-color: #f5f5f5;
}
.promo-page .opt-block{
	background-color: #f9fdff;
	margin-bottom: 40px;
	padding: 10px 0px 0px;
	border-bottom: 1px solid #eeeeee;
	box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.02);
}
.promo-page .opt-block .tx-opt{
	margin-bottom: 10px;
}
.promo-page .box-prm {
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #fafafa;
	position: relative;
	display: block;
	-webkit-box-shadow: 0 0 9px rgba(187, 187, 187, 0.14), 0 1px 2px #ffffff;
	box-shadow: 0 0 9px rgba(187, 187, 187, 0.14), 0 1px 2px #ffffff;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.promo-page .box-prm:hover {
	-webkit-box-shadow: 0 0 14px rgba(187, 187, 187, 0.31), 0 1px 2px #f3f3f3;
	box-shadow: 0 0 14px rgba(187, 187, 187, 0.31), 0 1px 2px #f3f3f3;
}
.promo-page .prm-img{
	width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.13);
}
.promo-page .prm-desc-box{
	background-color: #ffffff;
    color: #555555;
    border:1px dashed #e6e6e6;
    border-top: 0px;
    padding: 16px 16px 0px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: inset 0 1px 20px -4px rgba(0, 0, 0, 0.05);
}
.promo-page .prm-desc-box .ttl-link {
    color: #555555;
    text-decoration-color: #555555;
}
.promo-page .promo-sm-title {
    font-size: 12px;
    font-weight: bold;
    color: #888888;
    letter-spacing: 0.1px;
}
.promo-page .promo-priode {
	font-weight: 600;
	font-size: 13px;
	padding-top: 5px;
	letter-spacing: 0.5px;
}
.promo-page .promo-priode-dtl {
	font-weight: bold;
	font-size: 15px;
	margin-top: 8px;
	letter-spacing: 0.5px;
}
.promo-page .promo-code {
	color: #ff6f43;
	font-weight: bold;
	letter-spacing: 0.5px;
	border-radius: 2px;
	margin-bottom: 15px;
	margin-top: 10px;
	border-right: 0px;
	border-left: 0px;
}
.promo-page .promo-code-dtl {
	color: #ff6f43;
	font-weight: bold;
	margin-top: 8px;
	letter-spacing: 0.5px;
	font-size: 15px;
}
.promo-page .btn-copy-code{
	float: right;
    top: -8px;
    position: relative;
}
.promo-page .btn-copy-code-dtl{
	margin-top: 10px;
}
.promo-page .cd-prm{
	font-weight: 400;
	color: #777777;
}
.promo-page .prm-btn-card{
	border-top: 1px dashed #eeeeee;
	background: #f9fdff;
    padding: 10px 0px;
}
.promo-page .promo-code-copy{
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}
.promo-page .promo-title {
    height: 40px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.promo-page .promo-code-box{
	display: inline-block;
}
.promo-page .block-desc {
    padding: 20px 25px;
    margin-bottom: 25px;
    border: 1px dashed #e6e6e6;
    border-width: 0px 1px 1px;
    color: #444444;
    line-height: 1.7rem;
    border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: inset 0px -4px 20px rgba(23, 23, 23, 0.01);
    box-shadow: inset 0px -4px 20px rgba(23, 23, 23, 0.01);
}
.promo-page .img-dtl-promo{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

@media (max-width: 959px){
	.promo-page .prm-btn-card{
		padding: 5px 0px 10px;
		clear: both;
	}
	.promo-page .prm-div-card {
	    max-width: 100%;
	    flex: 100%;
	}
	.promo-page .prm-div-card .promo-priode {
	    margin-bottom: 15px;
	}	
}
@media (max-width: 767px){
	.inf-dtl {
	    margin-bottom: 8px;
	}
}
@media (max-width: 576px){
	.promo-page .promo-banner{
		height: 90px;
	}
	.promo-page img-bnr{
		height: 100%;
		object-fit: cover;
	}
}
