/* Root ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
:root{
  --hg-yellow-color : #f9a623;
}
* {
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
body {
  padding-top: 94px;
}
::placeholder {
  color: #bbbbbb !important;
}
#hargadunia {
  margin: 0 auto;
  width: 100%;
}
.content-area {
  overflow: hidden;
}
.bg-2nd {
  background: #f6f8f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-header {
  letter-spacing: 0.5px;
  display: inline-block;
  padding-bottom: 5px;
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1rem;
  word-break: break-word;
  position: relative;
}
.page-header:before {
  content: "";
  height: 2px;
  width: 40px;
  background: var(--hg-yellow-color);
  position: absolute;
  bottom: -5px;
}
.see-more-text {
  font-size: 12px;
  line-height: 21px;
  padding: 3px 15px;
  border-radius: 15px;
  border-color: #616caf;
  color: #837adf;
}
.see-more-text:hover {
  color: var(--hg-yellow-color);
  background: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03);
}
.header-block {
  display: inline-block;
  position: relative;
  clear: both;
  width: 100%;
}
.line-break {
  height: 2px;
  background: #eeeeee;
  position: relative;
  width: 100%;
}
.btn-gray{
  color: #888888;
  background-color: #f5f5f5;
  border-color: #e6e6e6;
  text-decoration: none;
}
.btn-gray:hover{
  color: #888888;
  background-color: #f5f5f5;
  border-color: #f1f1f1;
}
.btn-yellow{
  background-color: var(--hg-yellow-color);
  color: #ffffff;
  border-color: #ffa71b;
  text-decoration: none;
}
.btn-yellow:hover {
  background-color: #ffba4e;
  color: #ffffff;
  border-color: #ffb43e;
}
.btn-search{
  border-style: solid;
  border-left: none;
  line-height: 0px;
}
/* End Root \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Product Box ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.prd-box {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #f7f7f7;
  overflow: hidden;
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 2px;
}
.prd-box:hover {
  border-color: #e2e2e2;
}
.card-slider {
  position: static !important;
  padding: 0px 1px !important;
}
.card-slider .prd-box {
  border: 1px solid rgba(0, 0, 0, .09);
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px 15px 38px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
  margin-bottom: 2px;
  text-decoration: none;
}
.card-slider .prd-box:hover {
  border: 1px solid rgba(53, 53, 53, 0.2) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10), inset 0px -15px 20px -11px rgba(0, 0, 0, 0.08);
}
.prd-box .image-box-product {
  height: 160px;
  width: auto;
  text-align: center;
  position: relative;
}
.prd-box .image-box-product img {
  width: auto;
  height: auto;
}
.image-box-product .box-img {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.prd-box .prd-meta {
  margin-top: 15px;
  color: #000000;
  text-decoration: none !important;
}
.prd-box a:hover {
  text-decoration: none;
}
.prd-box .prd-meta .prd-meta__name {
  overflow: hidden;
  color: #555555;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 3.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
}
.prd-box .prd-meta .prd-meta__price {
  font-size: 14px;
  font-weight: bold;
  color: #ff6f43;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}
.prd-box .prd-meta .prd-meta__price-second {
  height: 21px;
  overflow: hidden;
}
.prd-meta__dataPrice {
  margin-top: 8px;
  display: inline-table;
}
.prd-box .prd-meta .prd-disc {
  display: inline-table;
  margin: 0 auto;
  height: 100%;
  position: relative;
  background: #ff6f43;
  color: #ffffff;
  padding: 2px 5px 6px 5px;
  font-weight: bold;
  border-radius: 1px;
  font-size: 12px;
  margin-right: 10px;
  top: 6px;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.08);
}
.prd-box .prd-meta .prd-disc:before {
  content: "";
  height: 0;
  width: 0;
  left: 0;
  bottom: -5px;
  border-style: solid;
  position: absolute;
  border-bottom-width: 5px;
  border-left-width: 17px;
  border-right-width: 0px;
  border-color: transparent #ff6f43;
}
.prd-box .prd-meta .prd-disc:after {
  content: "";
  height: 0;
  width: 0;
  right: 0;
  bottom: -5px;
  border-style: solid;
  position: absolute;
  border-bottom-width: 5px;
  border-right-width: 17px;
  border-left-width: 0px;
  border-color: transparent #ff6f43;
}
.prd-box .prd-meta .prd-meta__price-second .prd-curency-disc {
  text-decoration: line-through;
  color: #777777;
}
.prd-data-rat {
  display: block;
  overflow: hidden;
  height: 28px;
  position: absolute;
}
.prd-starRat {
  display: inline-block;
}
.count-rat {
  font-size: 12px;
  position: relative;
  top: -9px;
  margin-left: 3px;
  color: #777777;
}
.prd-from {
  height: 16px;
  position: relative;
  top: -3px;
  overflow: hidden;
  margin-top: 12px;
}
.prd-from .box-information-1 {
  height: 16px;
  overflow: hidden;
  background: #FFFFFF;
  display: block;
  z-index: 1;
  position: relative;
}
.prd-box:hover .prd-from .box-information-2 {
  transition: margin 0.2s;
  margin-top: 0px;
}
.prd-from .box-information-2 {
  height: 20px;
  position: absolute;
  top: -3px;
  z-index: 2;
  margin-top: -20px;
  background: #FFFFFF;
  display: block;
  transition: margin 0.2s;
  width: 100%;
  color: #777777;
  padding-left: 32px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.prd-from .box-information-2:before {
  content: "";
  background-size: 25px;
  background-image: url(../img/ship-truck.svg);
  height: 25px;
  width: 25px;
  z-index: 10;
  position: absolute;
  left: 0px;
  top: -2px;
}
.from-country {
  display: inline-block;
}
.from-store {
  display: inline-block;
  position: absolute;
  top: -3px;
  margin-left: 15px;
  color: #777777;
}
.from-store .store-name {
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 14px;
}
.from-store:before {
  content: "\2022";
  font-size: 16px !important;
  position: absolute;
  top: -3px;
  left: -10px;
}
.flag-sg {
  background: url(../img/sprites-flags.png);
  background-size: 110px;
  background-position: -28px 0px;
  background-repeat: no-repeat;
  height: 16px;
  width: 25px;
}
.flag-au {
  background: url(../img/sprites-flags.png);
  background-size: 110px;
  background-position: -56px 0px;
  background-repeat: no-repeat;
  height: 16px;
  width: 25px;
}
.flag-us {
  background: url(../img/sprites-flags.png);
  background-size: 110px;
  background-position: -0px 0px;
  background-repeat: no-repeat;
  height: 16px;
  width: 25px;
}
.flag-id {
  background: url(../img/sprites-flags.png);
  background-size: 110px;
  background-position: -85px 0px;
  background-repeat: no-repeat;
  height: 16px;
  width: 25px;
}
/* End product Box \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Promo Product Box /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.promo-prd-box img {
  max-width: 100%;
}
/* Promo End product Box \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Product Banner Hargadunia ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.block-banners {
  position: relative;
  display: block;
  margin: 20px 0px;
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.12);
}
.block-banners .banner-box {
  width: 1200px;
  height: 100px;
  border-radius: 2px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 0px 30px;
}
/* End Product Banner Hargadunia \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  */

/* Custom Bootstrap css ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 1800px) {
  #hargadunia {
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 1228px) {
  .container {
    max-width: 1228px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 959px) {
  /*.container {
    max-width: 742px;
  }*/
}
/* End Custom Bootstrap css \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  */

/* Swiper Slide Custom //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.swiper-container {
  border-radius: 3px;
}
.home-banner-slider .swiper-button-prev,
.home-banner-slider .swiper-button-next {
  opacity: 0;
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0.6;
  background-color: rgba(255, 255, 255, .4);
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 10px;
  padding: 11px 12px;
  border: 10px solid rgba(255, 255, 255, .0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-size: 20px 30px !important;
}
.swiper-button-prev {
  background-image: url('../img/back.svg') !important;
}
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  opacity: 0.8;
}
.swiper-button-next {
  background-image: url('../img/next.svg') !important;
}
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  opacity: 0.8;
}
.home-banner-slider:hover .swiper-button-prev,
.home-banner-slider:hover .swiper-button-next {
  opacity: 1;
}
.s2 .swiper-button-prev,
.s2 .swiper-button-next {
  background-color: rgba(0, 0, 0, .1);
  opacity: 0.5;
}
.s2 .swiper-button-prev:hover,
.s2 .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, .2);
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff6f43 !important;
}
.swiper-pagination-bullet {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.22);
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}
.container-slide {
  padding-bottom: 7px;
}
@media (min-width: 800px) {
  .card-slider .swiper-button-prev {
    left: -20px;
  }
  .card-slider .swiper-button-next {
    right: -20px;
  }
}
@media (max-width: 600px) {
  .swiper-container {
    border-radius: 0px;
  }
}
/* End Swiper Slide Custom */

/* Slide in Home */

.img-slide {
  border-radius: 3px;
}
@media (max-width: 600px) {
  .container-slide {
    padding: 0px;
    margin-top: 0px !important;
  }
  .img-slide {
    border-radius: 0px;
  }
}
/* End Slide in Home \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Navbar //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.navbar {
  padding: 0px;
}
.navbar-nav {
  display: -webkit-box;
}
.chin {
  background-color: #F6F6F6;
  height: 34px;
  border-bottom: solid 1px #d9d9d9;
  padding-top: 0px;
  font-weight: 500;
  z-index: 99;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
}
@media (min-width: 1228px) {
  .search-input {
    width: 502px !important;
  }
}
@media (max-width: 1227px) {
  .search-input {
    width: 234px !important;
  }
}
@media (max-width: 959px) {
  .search-input {
    width: 18px !important;
  }
}
.header {
  background-color: #ffffff;
  height: 60px;
  font-weight: 600;
  z-index: 100;
}
.logo {
  height: 32px;
}
.nav-link {
  color: rgba(0, 0, 0, .54);
}
.nav-categories {
  border-radius: 3px;
  border-color: #e7e9eb;
  background: #ffffff;
}
.icon-header {
  margin-right: 4px;
}
/* End Navbar \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Button //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-padding {
  padding-left: 24px;
  padding-right: 24px;
}
/* End Button \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Custom Button Color ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.btn-hg {
  color: #fff;
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-hg:hover {
  color: #fff;
  background-color: #f98a68;
  border-color: #fd8059;
}
.btn-hg:focus,
.btn-hg.focus {
  color: #fff;
  background-color: #fb825d;
  border-color: #fd8059;
}
.btn-hg:active,
.btn-hg.active,
.open > .btn-hg.dropdown-toggle {
  color: #fff;
  background-color: #fb825d;
  border-color: #fd8059;
  background-image: none;
  outline: 0;
}
.btn-hg:active:hover,
.btn-hg:active:focus,
.btn-hg:active.focus,
.btn-hg.active:hover,
.btn-hg.active:focus,
.btn-hg.active.focus,
.open > .btn-hg.dropdown-toggle:hover,
.open > .btn-hg.dropdown-toggle:focus,
.open > .btn-hg.dropdown-toggle.focus {
  color: #fff;
  background-color: #e4734f;
  border-color: #c55937;
}
.btn-hg.disabled:focus,
.btn-hg.disabled.focus,
.btn-hg:disabled:focus,
.btn-hg:disabled.focus {
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-hg.disabled:hover,
.btn-hg:disabled:hover {
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-outline-hg {
  color: #ff6f43;
  background-image: none;
  background-color: transparent;
  border-color: #ff6f43;
}
.btn-outline-hg:hover {
  color: #fff;
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-outline-hg:focus,
.btn-outline-hg.focus {
  color: #fff;
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-outline-hg:active,
.btn-outline-hg.active,
.open > .btn-outline-hg.dropdown-toggle {
  color: #fff;
  background-color: #ff6f43;
  border-color: #ff6f43;
}
.btn-outline-hg:active:hover,
.btn-outline-hg:active:focus,
.btn-outline-hg:active.focus,
.btn-outline-hg.active:hover,
.btn-outline-hg.active:focus,
.btn-outline-hg.active.focus,
.open > .btn-outline-hg.dropdown-toggle:hover,
.open > .btn-outline-hg.dropdown-toggle:focus,
.open > .btn-outline-hg.dropdown-toggle.focus {
  color: #fff;
  background-color: #574278;
  border-color: #c55937;
}
.btn-outline-hg.disabled:focus,
.btn-outline-hg.disabled.focus,
.btn-outline-hg:disabled:focus,
.btn-outline-hg:disabled.focus {
  border-color: #ffa88d;
}
.btn-outline-hg.disabled:hover,
.btn-outline-hg:disabled:hover {
  border-color: #ffa88d;
}
/* End Custom Button Color ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 768px) {
  .nav-block-left {
    width: 90%;
  }
  .nav-block-right {
    width: 30%;
    justify-content: flex-end;
  }
}
.dropdown-toggle::after {
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
  top: 2px;
  position: relative;
}
.nav-departement {
  position: relative;
}
.nav-departement .nav-categories:hover,
.nav-departement .nav-categories:focus {
  background-color: #f5f5f5;
  border-color: #ced4da;
}
.nav-departement #cat-menu {
  color: rgba(0, 0, 0, .54);
  font-weight: 500;
}
.nav-departement #cat-menu::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
  top: 2px;
  position: relative;
}
.nav-departement .dropdown-item {
  padding-left: 1rem;
  padding-right: 2rem;
}
.nav-departement:hover .dropdown-menu.multi-level {
  display: block;
  border-color: transparent;
  padding: 0.2rem 0;
  margin-top: -1px;
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.08);
}
.nav-departement .dropdown-item.active,
.nav-departement .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff6f43;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 2px;
  left: 100%;
  margin-top: -6px;
  margin-left: -3px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.08);
  border-color: transparent;
}
.menu-secondary .dropdown-item {
  padding: 0px;
}
.menu-secondary .dropdown-item a {
  color: #212529;
  text-decoration: none;
  display: block;
  padding: .25rem 1.5rem;
}
.menu-secondary .dropdown-item:hover a {
  color: #FFFFFF;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -15px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #f3f3f3;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.btn-cat-search {
  background-color: rgb(246, 246, 246);
  border-color: rgb(239, 239, 239);
  color: #585858;
}
.btn-cat-search.search-active {
  border-color: #f9a623;
  background: white;
}
.search-input {
  background: rgb(246, 246, 246);
  border-color: rgb(239, 239, 239);
}
.search-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #f9a623;
  border-left-color: #f6f6f6;
}
.btn-cat-search, .search-input{
  -webkit-transition: none !important;
     -moz-transition: none !important;
      -ms-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}
.nav-underline .nav-under:hover,
.nav-underline {
  color: var(--gray-dark);
}
.nav-underline .nav-under:focus,
.nav-under:active {
  color: var(--gray-dark);
}
#hargadunia-nav-inner .overlay.active {
  display: block;
  visibility: visible;
}
#hargadunia-nav-inner .overlay {
  background: #000;
  position: fixed;
  top: 61px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  z-index: 200;
  display: none;
}
.nav-sticky .chin {
  -webkit-transform: translateY(-33px) translateZ(0);
  transform: translateY(-33px) translateZ(0);
}
.auth-button {
  margin-left: 23px;
  margin-right: 23px;
}
.delimiter-border {
  border-left: solid #e0e0e0 1px;
  height: 27px;
  margin-top: 5px;
}
/* Category Box ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cat-box {
  border: 1px solid #ffffff;
  overflow: hidden;
  padding: 5px 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
  color: #777777;
  font-size: 10px;
}
.cat-box:hover {
  color: #555555;
  transform: translateY(-3px);
  border-radius: 3px;
}
.cat-box .image-box-cat {
  height: 76px;
  width: auto;
  text-align: center;
  position: relative;
}
@media (max-width: 320px) {
  .cat-box .image-box-cat {
    height: 53px;
  }
}
.image-box-cat .box-img {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.cat-box .cat-meta {
  margin-top: 7px;
}
.cat-box .cat-meta .cat-meta__name {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.3rem;
  height: 3.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 13px;
  text-align: center;
}
.page-cat-header {
  margin-top: 0.5rem;
  color: #777777;
  font-size: 16px;
  font-weight: 600;
}
/* End Category Box \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Box Brand ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-brand {
  margin: 30px auto;
}
.brand-slider {
  margin-top: 10px !important;
  padding: 0px 1px !important;
}
.box-brand {
  border: 1px solid #eeeeee;
  text-align: center;
  height: 100px;
  border-radius: 2px;
}
.box-brand img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  height: 100%;
}
.box-brand:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
/* End Box Brand \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Footer */
footer{
  background-color: #fafafa !important;
  padding: 40px 0px 10px;
  margin-top:20px;
  overflow: hidden;
  border-top: 4px solid #f5f5f5;
}
footer .content-link{
  margin:auto 0px;
}
footer .content-img{
  padding: 30px 0px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
footer .content-about{
  padding:30px 0px; 
  color: #777777;
}
footer .ftr-about-us{
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.3px;
}
footer .ftr-copyright{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #777777;
  font-size: 12px;
  border-top: 1px solid #e8e8e8;
}
footer .ftr-block{
  width: 20%;
  display: inline-flex;
  float: left;
  margin-bottom: 20px;
}
footer .ftr-block .ftr-col{
  padding-right: 5px;
}
footer .ftr-block .ftr-col ul{
  list-style: none;
  padding-left: 0px;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 22px;
}
footer .ftr-block .ftr-col ul a{
  color: #999999;
  text-decoration: none;
  position: relative;
}
footer .ftr-block .ftr-col ul a:hover{
  color: #ff6f43;
  text-decoration: underline;
}
footer .ftr-block .ftr-col ul .ftr-ico-s{
  margin-bottom: 5px;
}
footer .ftr-block .ftr-col ul .ftr-ico-s-m{
  float: left;
  margin-right: 1px;
  margin-bottom: 5px;
}
footer .ftr-block .ftr-col ul .ico-s{
  background: url(../img/social-media/sprites-social.png);
  background-repeat: no-repeat !important;
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
  margin-right: 5px;
  background-size: 243px !important;
}
footer .ftr-block .ftr-col ul .ico-apsdwn{
  background: url(../img/social-media/sprites-appsdownload.png);
  background-repeat: no-repeat !important;
  height: 35px;
  width: 101px;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
  margin-right: 5px;
  background-size: 210px !important;
}
footer .ftr-block .ftr-col ul .ico-a-pstore{
  background-position: 0px 0px;
}
footer .ftr-block .ftr-col ul .ico-a-astore{
  background-position: -109px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-line{
  background-position: -26px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-wa{
  background-position: -2px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-bbm{
  background-position: -51px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-fb{
  background-position: -75px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-tw{
  background-position: -99px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-ig{
  background-position: -124px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-yt{
  background-position: -148px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-gp{
  background-position: -173px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-in{
  background-position: -197px 0px;
}
footer .ftr-block .ftr-col ul .ico-s-bl{
  background-position: -222px 0px;
}
footer .img-block-footer{
  width: 75px;
  background: #ffffff;
  padding: 2px 13px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

footer .ftr-ttl{
  font-size: 14px;
  font-weight: bold;
  color: #888888;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
@media (max-width: 960px){
  footer .ftr-block{
    width: 25%;
  }
}
@media (max-width: 720px){
  footer .ftr-block{
    width: 50%;
  }
}
@media (max-width: 400px){
  footer .ftr-block{
    width: 100%;
  }
}
/* End Footer */